services:
  python-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python-app
    command: bash -c 'poetry run python src/manage.py runserver 0.0.0.0:8000'
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      PYTHONPATH: /app/src
      DATABASE_URL: postgres://postgres:postgres@db:5432/app
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: python-db
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - python_db_data:/var/lib/postgresql/data

volumes:
  python_db_data:
